<link rel="stylesheet" href="/static/styles.css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#red').bind('click', function() {
            $.getJSON('/red',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#green').bind('click', function() {
            $.getJSON('/green',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#blue').bind('click', function() {
            $.getJSON('/blue',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#teal').bind('click', function() {
            $.getJSON('/teal',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#purple').bind('click', function() {
            $.getJSON('/purple',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#orange').bind('click', function() {
            $.getJSON('/orange',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#white').bind('click', function() {
            $.getJSON('/white',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#alloff').bind('click', function() {
            $.getJSON('/alloff',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>


<div class='container'>
    
        
            <a href=# id=red><button class='btn btn-default Turn_on_Red'>Red</button></a>
			<a href=# id=green><button class='btn btn-default Turn_on_Green'>Green</button></a>
			<a href=# id=blue><button class='btn btn-default Turn_on_Blue'>Blue</button></a>
			<a href=# id=teal><button class='btn btn-default Turn_on_Teal'>Teal</button></a>
			<a href=# id=purple><button class='btn btn-default Turn_on_Purple'>Purple</button></a>
			<a href=# id=orange><button class='btn btn-default Turn_on_Orange'>Orange</button></a>
			<a href=# id=white><button class='btn btn-default Turn_on_White'>White</button></a>
			<a href=# id=alloff><button class='btn btn-default Turn_off_All'>Alloff</button></a>
        

</div>

<!-- <div class='container'>
    
        <form>
            <a href=# id=test2><button class='btn btn-default'>Test2</button></a>
        </form>

</div> -->